In [35]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB
data = pd.read_csv("./weather.csv")
data

     Outlook  Temp Humidity Windy Play
0      Rainy   Hot     High     f   no
1      Rainy   Hot     High     t   no
2   OverCast   Hot     High     f  yes
3      Sunny  Mild     High     f  yes
4      Sunny  Cool   Normal     f  yes
5      Sunny  Cool   Normal     t   no
6   OverCast  Cool   Normal     t  yes
7      Rainy  Mild     High     f   no
8      Rainy  Cool   Normal     f  yes
9      Sunny  Mild   Normal     f  yes
10     Rainy  Mild   Normal     t  yes
11  OverCast  Mild     High     t  yes
12  OverCast   Hot   Normal     f  yes
13     Sunny  Mild     High     t   no

In [36]:
# data.loc[data['Play'] == 'no','Play'] = 0
# data.loc[data['Play'] == 'yes','Play'] = 1

In [37]:
input = data.drop(['Play'],axis=1)
output = data['Play']
output

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: Play, dtype: object

In [38]:
numerics = LabelEncoder()
input['Outlook_n'] = numerics.fit_transform(input['Outlook'])
input['Temp_n'] = numerics.fit_transform(input['Temp'])
input['Humidity_n'] = numerics.fit_transform(input['Humidity'])
input['Windy_n'] = numerics.fit_transform(input['Windy'])
input

     Outlook  Temp Humidity Windy  Outlook_n  Temp_n  Humidity_n  Windy_n
0      Rainy   Hot     High     f          1       1           0        0
1      Rainy   Hot     High     t          1       1           0        1
2   OverCast   Hot     High     f          0       1           0        0
3      Sunny  Mild     High     f          2       2           0        0
4      Sunny  Cool   Normal     f          2       0           1        0
5      Sunny  Cool   Normal     t          2       0           1        1
6   OverCast  Cool   Normal     t          0       0           1        1
7      Rainy  Mild     High     f          1       2           0        0
8      Rainy  Cool   Normal     f          1       0           1        0
9      Sunny  Mild   Normal     f          2       2           1        0
10     Rainy  Mild   Normal     t          1       2           1        1
11  OverCast  Mild     High     t          0       2           0        1
12  OverCast   Hot   Normal     f          0       1           1        0
13     Sunny  Mild     High     t          2       2           0        1

In [39]:
input = input.drop(['Outlook','Temp','Humidity','Windy'],axis=1)
input

    Outlook_n  Temp_n  Humidity_n  Windy_n
0           1       1           0        0
1           1       1           0        1
2           0       1           0        0
3           2       2           0        0
4           2       0           1        0
5           2       0           1        1
6           0       0           1        1
7           1       2           0        0
8           1       0           1        0
9           2       2           1        0
10          1       2           1        1
11          0       2           0        1
12          0       1           1        0
13          2       2           0        1

In [40]:
output

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: Play, dtype: object

In [41]:
classifier = GaussianNB()
classifier.fit(input,output)
classifier.score(input,output)

0.8571428571428571

In [42]:
classifier.predict([[0,1,1,0]]) # type: ignore

c:\Users\sangr\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array(['yes'], dtype='<U3')